{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/village.css' %}">
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <section class="header">
        <nav class="navbar navbar-expand-lg ">
            <div class="container">
              <button type="text" class="smart-btn">Smart Village</button>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 navi">
                  <li class="">
                    <a class="nav-link active ms-2" aria-current="page" href="#"><b>Home</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ms-2" href="#"><b>About</b></a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link ms-2 " href="#" tabindex="-1" aria-disabled="true"><b>Village Office</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ms-2 " href="#" tabindex="-1" aria-disabled="true"><b>Contact</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  ms-2" href="#" tabindex="-1" aria-disabled="true"><b>Login</b></a>
                  </li>
                </ul>
                
              </div>
            </div>
          </nav>

    </section>
    <section class="section2">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-4">
                    <div class="box">
                    <div class="icon">
                        <div class="icon-img">
                            <i class="fa fa-laptop"></i>
                            <a href="" class="nav-link" >
                                <h3>Certificate</h3>
                            </a>
                            <p>23 major certificates issued from the Department have already been made online and can be applied online.</p>
                        </div>
                        
                    </div>
                    <div class="icon">
                        <div class="icon-img">
                            <i class="fa fa-slideshare"></i>
                            <a href="" class="nav-link" >
                                <h3>Public Grievance</h3>
                            </a>
                            <p> A single platform connecting the office of the Hon. Revenue Minister and all Revenue Offices for registering complaints.</p>
                        </div>
                        
                    </div>
                    <div class="icon">
                        <div class="icon-img">
                            <i class="fa fa-handshake-o"></i>
                            <a href="" class="nav-link" >
                                <h3>Ease Of Doing Business </h3>
                            </a>
                            <p>Applications to various services delivered from the Department are automated through which public can submit their requests online and track the status of their application in real time.</p>
                        </div>
                        
                    </div>
                </div>
                </div>
                
                <div class="col-lg-4">
                    <div class="box">
                    
                        
                    
                    <div class="icon">
                        <div class="icon-img">
                            <i class="fa fa-map-marker"></i>
                            <a href="" class="nav-link" >
                                <h3>Payments</h3>
                            </a>
                            <p> Department has automated revenue payments enabling citizens to pay their land tax without visiting village offices.</p>
                        </div>
                        
                    </div>
                    <div class="icon">
                        <div class="icon-img">
                            <i class="fa fa-compass"></i>
                            <a href="" class="nav-link" >
                                <h3>Disaster Management</h3>
                            </a>
                            <p>Management of disasters right from starting camps to disbursement of assistance and providing compensation for house damages.</p>
                        </div>
                        
                    </div>
                    <div class="icon">
                        <div class="icon-img">
                            <i class="fa fa-id-card-o"></i>
                            <a href="" class="nav-link" >
                                <h3>Land Record Maintainance</h3>
                            </a>
                            <p>Ensuring an error free land record database warrants a perfect land records maintenance mechanism for the maintenance of land records.</p>
                        </div>
                        </div>
                        
                    </div>
                    
                </div>
                
                <div class="col-lg-4">
                    <div class="box">
                        <div class="icon">
                            <div class="icon-img">
                                <i class="fa fa-bookmark-o"></i>
                                <a href="" class="nav-link" >
                                    <h3>Land Related Service</h3>
                                </a>
                                <p>Providing land related services for citizens in a single platter with <br /> emphasis on ease of access.</p>
                            </div>
                    </div>
                    <div class="icon">
                        <div class="icon-img">
                            <i class="fa fa-credit-card"></i>
                            <a href="" class="nav-link" >
                                <h3>Pensions</h3>
                            </a>
                            <p>Pensions to persons suffering from cancer, tuberculosis and leprosy. Citizen can directly apply online for pensions.</p>
                        </div>
                        
                    </div>
                    <div class="icon">
                        <div class="icon-img">
                            <i class="fa fa-location-arrow"></i>
                            <a href="" class="nav-link" >
                                <h3>revenue recovery</h3>
                            </a>
                            <p>Kerala Revenue Recovery Act 1968 empowers the District Collector, to recover the Government dues as noticed in the Act from the defaulter residing in the district having property.</p>
                        </div>
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</body>